.form-control { border: 1px solid #a7a7a7; }
.note-popover.popover { display: none; }
.ui-widget.ui-widget-content { z-index: 1000 !important;}
.content-wrapper {
    background: #696969;
}
.navbar.default-layout {
    background: #2a2a2a;
}
.type-box {
    display: none;
}
.type-box.active {
    display: block;
}
.file-upload {
    position: relative;
}
.remove-box {
    position: absolute;
    top: 0;
    right: 0;
}
.pagi .hidden {
    display: none;
}
.pagi .leading-5 {
    margin-top: 20px;
    float: left;
}
.pagi .text-gray-700 {
}
.pagi .text-gray-700 {
    margin: 0;
}
.pagi .cursor-default {
    margin: 0;
}
.pagi p.text-sm {
    width: 100%;
    text-align: center;
}
.card .card-body {
    padding: 15px 30px;
}
.card-body h5 {
    margin: 0;
}
.pagi {
    font-size: 14px;
}
