

/******************* ANIMATIONS **********************/

.slide-in-right {
    -webkit-animation:slide-in-right .5s cubic-bezier(.25,.46,.45,.94)   both;
    animation:slide-in-right .5s cubic-bezier(.25,.46,.45,.94)  both;
}
.slide-in-right-2 {
    -webkit-animation:slide-in-right .5s cubic-bezier(.25,.46,.45,.94) 1.2s both;
    animation:slide-in-right .5s cubic-bezier(.25,.46,.45,.94) 1.2s both;
}
.slide-in-right-3 {
    -webkit-animation:slide-in-right .5s cubic-bezier(.25,.46,.45,.94) 1.4s both;
    animation:slide-in-right .5s cubic-bezier(.25,.46,.45,.94) 1.4s both;
}
.slide-in-right-4 {
    -webkit-animation:slide-in-right .5s cubic-bezier(.25,.46,.45,.94) 1.6s both;
    animation:slide-in-right .5s cubic-bezier(.25,.46,.45,.94) 1.6s both;
}
.slide-in-right-nodelay {
    -webkit-animation:slide-in-right .5s cubic-bezier(.25,.46,.45,.94)  both;
    animation:slide-in-right .5s cubic-bezier(.25,.46,.45,.94) both;
}

.slide-in-left {-webkit-animation:slide-in-left .5s cubic-bezier(.25,.46,.45,.94)  both;animation:slide-in-left .5s cubic-bezier(.25,.46,.45,.94)  both}
.slide-in-left-2 {-webkit-animation:slide-in-left .5s cubic-bezier(.25,.46,.45,.94) .3s both;animation:slide-in-left .5s cubic-bezier(.25,.46,.45,.94) .3s both}
.slide-in-left-3 {-webkit-animation:slide-in-left .5s cubic-bezier(.25,.46,.45,.94) .5s both;animation:slide-in-left .5s cubic-bezier(.25,.46,.45,.94) .5s both}
.slide-in-left-4 {-webkit-animation:slide-in-left .5s cubic-bezier(.25,.46,.45,.94) .7s both;animation:slide-in-left .5s cubic-bezier(.25,.46,.45,.94) .7s both}
.slide-in-left-5 {-webkit-animation:slide-in-left .5s cubic-bezier(.25,.46,.45,.94) .9s both;animation:slide-in-left .5s cubic-bezier(.25,.46,.45,.94) .9s both}
.slide-in-left-6 {-webkit-animation:slide-in-left .5s cubic-bezier(.25,.46,.45,.94) 1.1s both;animation:slide-in-left .5s cubic-bezier(.25,.46,.45,.94) 1.1s both}
.slide-in-left-7 {-webkit-animation:slide-in-left .5s cubic-bezier(.25,.46,.45,.94) 1.3s both;animation:slide-in-left .5s cubic-bezier(.25,.46,.45,.94) 1.3s both}
.slide-in-left-8 {-webkit-animation:slide-in-left .5s cubic-bezier(.25,.46,.45,.94) 1.5s both;animation:slide-in-left .5s cubic-bezier(.25,.46,.45,.94) 1.5s both}
.slide-in-left-9 {-webkit-animation:slide-in-left .5s cubic-bezier(.25,.46,.45,.94) 1.7s both;animation:slide-in-left .5s cubic-bezier(.25,.46,.45,.94) 1.7s both}
.slide-in-left-10 {-webkit-animation:slide-in-left .5s cubic-bezier(.25,.46,.45,.94) 2.8s both;animation:slide-in-left .5s cubic-bezier(.25,.46,.45,.94) 1.6s both}
.slide-in-left-11 {-webkit-animation:slide-in-left .5s cubic-bezier(.25,.46,.45,.94) 3s both;animation:slide-in-left .5s cubic-bezier(.25,.46,.45,.94) 1.6s both}
.slide-in-left-12 {-webkit-animation:slide-in-left .5s cubic-bezier(.25,.46,.45,.94) 3.2s both;animation:slide-in-left .5s cubic-bezier(.25,.46,.45,.94) 1.6s both}

.slide-in-left-nodelay {-webkit-animation:slide-in-left .5s cubic-bezier(.25,.46,.45,.94)  both;animation:slide-in-left .5s cubic-bezier(.25,.46,.45,.94) both}

.slide-in-top{-webkit-animation:slide-in-top .5s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-top .5s cubic-bezier(.25,.46,.45,.94) both}

.slide-in-bottom{-webkit-animation:slide-in-bottom .5s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-bottom .5s cubic-bezier(.25,.46,.45,.94) both}

/* ----------------------------------------------
 * Generated by Animista on 2020-7-6 14:26:20
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes slide-in-left{0%{-webkit-transform:translateX(-1000px);transform:translateX(-1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@keyframes slide-in-left{0%{-webkit-transform:translateX(-1000px);transform:translateX(-1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}

@-webkit-keyframes slide-in-right{0%{-webkit-transform:translateX(1000px);transform:translateX(1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@keyframes slide-in-right{0%{-webkit-transform:translateX(1000px);transform:translateX(1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}

@-webkit-keyframes slide-in-top{0%{-webkit-transform:translateY(-1000px);transform:translateY(-1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes slide-in-top{0%{-webkit-transform:translateY(-1000px);transform:translateY(-1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}

@-webkit-keyframes slide-in-bottom{0%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes slide-in-bottom{0%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}


.fade-in{-webkit-animation:fade-in 2.2s cubic-bezier(.39,.575,.565,1.000) both;animation:fade-in 2.2s cubic-bezier(.39,.575,.565,1.000) both}
@-webkit-keyframes fade-in{0%{opacity:0}100%{opacity:1}}@keyframes fade-in{0%{opacity:0}100%{opacity:1}}
