#main-featured-art.inner #featured-nav {
    height: 150px;
    top: 35px;
}

#main-featured-art.inner {
    height: 215px;
}

.inner h1,.inner h2,.inner h3,.inner h4,.inner h5 {
    color: #c42f66;
    font-weight: bold;
}

.bluetext {
    color: #0b1684 !important;
}

.inner h1 {
    font-size: 46px;
}

.inner p, .inner ul li, .inner .contents div span {
    font-size: 18px !important;
    color: #0b1684;
}

.inner .contents div span b {

}

.inner .header-line-bot {
    height: auto;
    margin-bottom: 40px;
    padding-bottom: 30px;
}

.inner #featured-menu {
    top: 35px;
}
