body {
    direction: rtl;
    font-family: 'Cairo';
}

#main-featured-art .content {
    right: 190px;
}

#main-featured-art .cta {
    left: 95px;
    right: auto;
}

#main-nav li {
    float: right;
    margin: 12px 0 12px 30px;
}

h3.header-line-bot {
    margin-top: 10px;
}

.header-line-bot span {
    left: auto;
    right: 0;
}

#featured-nav {
    left: auto;
    right: -40px;
}
.artmodal .contact {
    text-align: right !important;
}

.border {
    float: right;
}

#featured-menu .cols .icons {
    left: auto;
    right: 250%;
}

#featured-menu.active .cols .icons {
    left: auto;
    right: 0;
}

.dropcategories li a {
    padding: 10px 30px 15px 15px;
}

.dropcategories ul.active {
    background-position: 90% top;
}

.taglist li a {
    padding: 10px 30px 10px 15px;   
}

.swiper-button-next {
    background-image: url(../img/arrow-long-left.png)
}

.swiper-button-prev {
    background-image: url(../img/arrow-long-right.png)
}

#featured-nav .arrow {
    background-image: url(../img/arrow-right.png);
}

#featured-nav.active .arrow {
    background-image: url(../img/arrow-left.png);
}

#shortlogo img {
    position: absolute;
    right: -90px;
}

#footer li a.header {
    font-size: 16px;
}

.box-list li a {
    font-size: 16px;
}

#main-nav li a {
    font-size: 18px;
}

.step-gallery .title {
    margin-bottom: 5px;
}

#main-featured-art .title {
    font-size: 52px;
    line-height: 72px;
}

.step-gallery .title {
    font-size: 26px;
    line-height: 32px;
}

.slider-category .title {
    font-size: 22px;
}

.slider-category .sub {
    font-size: 12px;
}

.socials.left {
    text-align: right;
}

.dropcategories li a.cat , .taglist li a.cat  {
    padding: 10px 35px 10px 15px !important;
}

ul.colors li , .taglist ul li {
    float: right !important;
}

.artmodal button.close {
    left: 15px;
    right: auto;
}

.artmodal .contact {
}

.dropcategories ul.active {
    background-position: 90% top !important;
}

#subscribeForm input[type="submit"] {
    background-image: url(../img/community/submit-arrow-ar.png) !important;
    background-position: 20px center !important;
    padding: 8px 25px 8px 125px !important;
    text-align: right !imporant;
}

.artmodal .contact {
    background-image: url(../img/blue-arrow-lg-ar.png) !important;
    background-position: 20px center !important;
}

#featured-nav .arrow {
    background-image: url('../img/arrow-left.png');
}

#featured-nav.active .arrow {
    background-image: url('../img/arrow-right.png');
}

#featured-menu.active .cols ul li:hover ul {
    left: auto;
    right: 30px;
}

@media only screen and (max-width: 1200px) {
    #main-nav li a {
        font-size: 13px !important;
    }
}

@media only screen and (max-width: 991px) {
    #searchForm {
        width: 60%;
    }

    #featured-nav, #main-featured-art .content {
        right: auto;
    }
}


