/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

body {
    font-family: 'FSAlbert';
}

.animate {
    opacity: 0;
}

a:hover {
    text-decoration: none;
}

a.border, .backlink {
    color: #c42f66 !important;
}
a:hover {
    text-decoration: none !important;
}

.border {
    border: 1px solid #c42f66 !important;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/******* CUSTOM STYLES ***********/

#shortlogo img {
    position: absolute;
    left: -90px;
}

a {
    transition: color .3s linear !important;
    transition: background-color .3s linear !important;
}

#mainlogo img {
    width: 160px;
    margin-top: 30px;
    margin-bottom: 20px;
}

#header .container {
    padding-top: 20px;
    padding-bottom: 50px;
}

#main-nav  {
    display: block;
    width: 100%;
    float: left;
    height: 45px;
}

#main-nav ul {
    padding: 0;
    margin: 0;
}

#main-nav li {
    list-style: none;
    float: left;
    margin: 12px 30px 12px 0;
}

#main-nav li a {
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    color: #0b1684;
}

#searchForm {
    float: left;
    display: block;
    width: 75%;
}

#searchBt {
    float: left;
    display: block;
    height: 45px;
    width: 30px;
    border: 0;
    border-bottom: 1px solid #c22861;
    background-color: transparent;
    background-image: url('../img/search-icon.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 20%;
}

#searchField {
    float: left;
    display: block;
    height: 45px;
    color: #c42f66;
    padding: 8px 10px;
    border: 0;
    border-bottom: 1px solid #c22861;
    outline: 0 !important;
    width: 80%;
    text-transform: uppercase;
    font-size: 12px;
}

#langHolder {
    width: 20%;
    float: right;
}

#langSwitch {
    width: 45px;
    padding: 0;
}

.blue-cta {
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
    height: 45px;
    line-height: 45px;
    padding: 0 15px;
    background-color: #0b1684;
    text-align: center;
    color: #fff !important;
    text-decoration: none !important;
    font-size: 12px;
    text-transform: uppercase;
    display: inline-block;
    width: auto;
}

.blue-cta:hover {
    background-color: #c22861;
}

.blue-cta.thick {
    font-weight: bold;
    padding: 0 25px;
}

.socials {
    width: 100%;
    display: block;
    text-align: center;
}

.socials a {
    color: #fff;
    float: left;
    font-size: 20px;
    width: 33.33%;
    text-decoration: none !important;
}

.socials a:hover {
    color: #c42f66 !important;
}

.socials.gray a {
    color: #898989;
}

.socials.left {
    text-align: left;
}

.header-line-bot {
    font-size: 25px;
    display: block;
    width: 100%;
    height: 50px;
    position: relative;
    color: #c22861;
}

.header-line-bot.small {
    font-size: 25px !important;
    height: 60px;
}

.header-line-bot span {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 3px;
    background-color: #c22861;
    display: block;
}

h3.header-line-bot {
    font-size: 46px;
    height: auto;
    font-weight: bold;
    margin-bottom: 30px;
    padding-bottom: 30px;
    line-height: 44px;
}

.box-list {
    padding: 0;
    margin: 0;
}

.box-list li {
    width: 20%;
    float: left;
    text-align: center;
    height: 60px;
    line-height: 60px;
    list-style: none;
    margin: 10px 0;
}

.box-list li a {
    width: 92%;
    float: left;
    display: block;
    border: 1px solid #0b1684;
    color: #0b1684;
    text-decoration: none !important;
    font-weight: bold;
    font-size: 20px;
}

.box-list li a:hover {
    background-color:  #0b1684;
    color: #fff;
    text-decoration: none !important;
}

.subheading {
    color: #0b1684;
    font-size: 22px;
    line-height: 18px;
    font-weight: bold;
}

#footer {
    border-top: 1px solid #c22861;
    padding: 30px 0;
}

#footer  ul {
    margin-bottom: 0;
    padding: 0;
}

#footer  li {
    list-style: none;
    margin-bottom: 5px;
}

#footer  li a {
    color: #898989;
    font-size: 15px;
    line-height: 17px;
}

#footer  li a:hover {
    color: #c42f66;
    text-decoration: none;
}

#footer  ul {
}

#footer  li a.header {
    font-size: 25px;
    line-height: 50px;
    color:  #0b1684;
    text-decoration: none !important;
    font-weight: bold;
}

#footer  img  {
    width: 100%;
    max-width: 255px;
}

.step-gallery {
    margin-top: 60px;
    margin-bottom: 60px;
}

.step-gallery img {
    width: 100%;
}

.step-gallery .title {
    font-size: 32px;
    font-weight: bold;
    color: #0b1684;
    line-height: 26px;
    margin-top: 14px;
    margin-bottom: 12px;
}

.step-gallery .sub {
    font-size: 16px;
    color: #000;
}

.step-gallery .cols:nth-child(2n+0) {
    margin-top: 120px;
}

.slider-category .left-line {
    width: 10%;
    float: left;
    height: 2px;
    background-color: #000;
    display: block;
    margin-top: 15px;
}

.slider-category .details {
    width: 90%;
    float: left;
    padding-left: 20px;
}

.slider-category .title {
    font-size: 25px;
    font-weight: bold;
}

.slider-category .sub {
    font-size: 14px;
}

.slider-category a {
    color: #212529;
}

.step-gallery a {
    text-decoration: none !important;
}

.slider-category a:hover, .step-gallery a:hover h3 {
    color: #c22861;
    text-decoration: none !important;
}

.slider-category a:hover .left-line {
    background-color: #c22861;
}

.swiper-slide img {
   margin-bottom: 15px;
    width: 100%;
}

.swiper-button-next, .swiper-button-prev {
    background-color: #0b1684;
    width: 60px !important;
    height: 60px !important;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
     margin-top: -30px !important;
}

.slider-category .swiper-button-next, .slider-category .swiper-button-prev {
    margin-top: -60px !important;
}

.swiper-button-next {
    background-image: url(../img/arrow-long-right.png);
}

.swiper-button-prev {
    background-image: url(../img/arrow-long-left.png);
}

.swiper-button-next:after,.swiper-button-prev:after {
    content: none !important;
}

.news-block .block  {
    border-radius: 14px;
    overflow: hidden;
    text-align: center;
    height: 420px;
    position: relative;
    margin-bottom: 24px;
}

.news-block .block.rect  {
    height: 200px;
}

.news-block .block .title {
    display: inline-block;
    padding: 0 20px;
    margin: 18px 0;
    font-weight: bold;
}

.news-block .block img {
    width: 100%;
}

.news-block .cta {
    background-color: #203f7a;
    padding: 8px 0;
    border-radius: 20px;
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    position: absolute;
    width: 140px;
    bottom: 30px;
    left: 50%;
    margin-left: -70px;
    font-weight: bold;
}

.news-block .type {
    background-color: #c42f66;
    padding: 5px 15px;
    border-radius: 20px;
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    font-size: 11px;
    top: 12px;
    left: 12px;
}

.news-block .block.full .details {
    position: absolute;
    top: 120px;
    left: 60px;
    width: 55%;
    text-align: left;
}

.news-block .block.full .title {
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-weight: bold;
}

.news-block .block.full .det {
    font-size: 13px;
    margin-top: 20px;
    width: 70%;
}

.news-block .block.full .cta {
    background-color: #203f7a;
    padding: 8px 30px;
    border-radius: 20px;
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    position: absolute;
    bottom: 30px;
    right: 45px;
    left: auto;
    margin-left: 0;
    width: auto;
}

.news-block .block.rect .title {
    margin: 0;
    padding: 0;
    font-size: 30px;
    position: absolute;
    color: #fff;
    left: 50px;
    top: 40px;
    text-align: left;
    font-weight: 900;
}

.news-block .block.rect.black .title {
    color: #000;
    left: auto;
    right: 30px;
    top: 40px;
    text-align: left;
    font-weight: 900;
}

.news-block .block.rect .cta {
    left: auto;
    top: auto;
    bottom: 30px;
    right: 30px;
}

.pink-cta {
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    padding: 20px 40px;
    background-color: #c42f66;
    text-align: center;
    font-weight: bold;
}

.news-block .cta:hover, .news-block .block.full .cta:hover {
    background-color: #c42f66;
    text-decoration: none;
}

.pink-cta:hover  {
    color: #fff;
    text-decoration: none;
    background-color: #0b1684;
}

#copyright {
    color: #898989;
    font-size: 14px;
    margin: 10px 0;
}

#socialbox {
    margin-top: 20px;
    font-size: 14px;
}

#socialbox .socials {
    margin-top: 20px;
}

.artist-month .details {
    margin-top: 30px;
}

/********************************************************************************/
/********************************** ART DETAILS ****************************/
/********************************************************************************/


.artmodal .primary {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.artmodal .modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px 0;
}

.artmodal .image {
    overflow: hidden;
}

.artmodal button.close  {
    position: relative;
    right: 15px;
}

.artmodal .close span  {
    border: 1px solid #000;
    width: 30px;
    height: 30px;
    display: block;
    border-radius: 50%;    
    font-size: 30px;
    font-weight: 300;
    line-height: 25px;
    color: #212b8f;
}

.artmodal .details  {
    padding-top: 40px;
    padding-left: 45px;
    font-size: 16px;
}

.artmodal .details  .title {
    color: #c42f66;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: -6px;
}

.artmodal .details  .artist {
    color: #0b1684;
    font-size: 14px;
}

.artmodal .details  .title span {
background-color: #c42f66;
    display: block;
    width: 30px;
    height: 3px;
    position: relative;
    bottom: -15px;
}


.artmodal .details  strong {
    color: #c42f66;
}

.artmodal .details  p {
    margin-bottom: 0;
}

.artmodal .details  img {
    width: 100%;
    max-width: 200px;
    margin-bottom: 20px;
}

.artmodal .modal-lg, .modal-xl {
    max-width: 1080px;
}

.artmodal .contact {
    display: inline-block;
    width: 90%;
    border: 2px solid #0b1684;
    color: #0b1684;
    border-radius: 30px;
    text-transform: uppercase;
    font-size: 16px;
    text-align: left;
    padding: 8px 20px;
    margin: 30px 0;
    background-image: url(../img/blue-arrow-lg.png);
    background-repeat: no-repeat;
    background-position: 95% center;
    font-weight: bold;
    text-decoration: none;
    background-color: #fff;
}

.artmodal #notForSale {
    display: inline-block;
    width: 90%;
    border: 2px solid #ccc;
    color: #ccc;
    border-radius: 30px;
    text-transform: uppercase;
    font-size: 16px;
    padding: 8px 20px;
    margin: 30px 0;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

.artwork-contact {
    display: none;
}

.artwork-contact .message {
    display: none;
    background-color: #c42f66;
    color: #fff;
    padding: 8px 12px;
    margin-bottom: 10px;
}

.artmodal input,.artmodal input select,.artmodal textarea {
    border: 0;
    border-bottom: 1px solid #c42f66;
    border-radius: 0;
    margin-bottom: 10px;
}

.modalcolor {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-bottom: -4px;
    display: inline-block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

#main-featured-art {
    height: 480px;
    width: 100%;
    display: block;
    background-image: url('../img/home/main-featured.jpg');
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    color: #fff;
}

#main-featured-art .content {
    position: absolute;
    left: 190px;
    top: 30%;
    max-width: 450px;
}

#main-featured-art .description {
    font-size: 17px;
}

#main-featured-art .title {
    font-size: 72px;
    line-height: 72px;
    opacity: .8;
}

#main-featured-art .description {
    font-size: 17px;
}


#main-featured-art .cta {
    position: absolute;
    right: 95px;
    bottom: 75px;
}

#subscribeSuccess, #subscribeError {
    display: none;
}

#featured-nav {
    height: 350px;
    width: 75px;
    background-color: #0b1684;
    display: block;
    position: absolute;
    top: 70px;
    left: -40px;
    background-image: url('../img/menu-icon.png');
    background-position: center 20px;  
    background-repeat: no-repeat;
    z-index: 4;
}

#featured-nav .arrow {
    height: 60px;
    width: 75px;
    display: block;
    position: absolute;
    bottom: 0;
    background-image: url('../img/arrow-right.png');
    background-position: center 20px;  
    background-repeat: no-repeat;
}

#featured-nav.active .arrow {
    background-image: url('../img/arrow-left.png');
}


#featured-menu {
    width: 0;
    overflow: hidden;
    background-color: #0b1684;
    display: block;
    position: absolute;
    top: 70px;
    left: 0;
    z-index: 3;
    transition: width 300ms linear, height 300ms linear;
}

#featured-menu .cols {
    position: relative;
}

#featured-menu .socials a {
    width: 25%;
}

#featured-menu.active {
    width: 100%;
}

#featured-menu li {
    padding-bottom: 6px;
    position: relative;
}

#featured-menu li a {
    color: #fff;
    font-size: 15px;
    line-height: 15px;
}

#featured-menu ul {
    margin-top: 40px;
    margin-bottom: 50px;
}

#featured-menu li a.header {
    font-size: 25px;
    line-height: 50px;
    text-decoration: none !important;
}


#featured-menu li {
    list-style: none;
}

#featured-menu li:hover a {
    color: #ff7bac;
}

#featured-menu li ul li a {
    color: #fff !important;
}

#featured-menu .icons {
    position: absolute;
    bottom: 0;
}

#featured-nav-logo {
    margin-bottom: 20px;
    width: 100%;
    max-width: 200px;
}

#featured-menu .cols ul {
    top: 150%;
    position: relative;
    padding: 0;
}

#featured-menu .cols .icons {
    left: 250%;
    position: relative;
}

#featured-menu .cols ul  {
    transition: top 500ms ease 500ms;
}

#featured-menu .cols .icons  {
    transition: left 500ms ease 600ms;
    position: absolute;
    bottom: 20px;
}

#featured-menu.active .cols ul {
    top: 0;
}

#featured-menu.active .cols ul li ul{
    position: absolute;
    display: none;
}

#featured-menu.active .cols ul li:hover ul{
    display: block;
    position: absolute;
    top: 30px;
    background-color: #d9206f;
    margin: 0;
    width: 100%;
    padding: 10px;
    z-index: 4;
    left: 30px;
}

#featured-menu.active .cols .icons {
    left: 0;
    display: block;
}

#featured-menu.active .mobile {
    display: none;
}



#subscribeForm input[type="email"] {
    border: 0;
    border-bottom: 1px solid #c42f66;
    color: #c42f66;
    width: 100%;
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px;
    outline: 0 !important;
}

#subscribeForm input[type="submit"] {
    border: 1px solid #0b1684;
    color: #0b1684;
    display: block;
    float: right;
    padding: 8px 125px 8px 25px;
    text-align: left;
    background-color: transparent;
    border-radius: 30px;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    background-image: url(../img/community/submit-arrow.png);
    background-repeat: no-repeat;
    background-position: 90% center;
    background-size: 25px auto;
    outline: 0 !important;
}


