@media only screen and (max-width: 1366px) {
    #shortlogo img {
        display: none;
    }
}

@media only screen and (max-width: 1200px) {
    .news-block .block.rect img, .news-block .block.full img {
        height: 100%;
        width: auto;
    }
    #main-nav li a {
        font-size: 17px;
    }
    main-nav li {
        margin: 12px 12px 12px 0;
    }
    #main-nav li a {
        font-size: 15px;
    }
}

@media only screen and (max-width: 991px) {

    #header {
        text-align: center;
    }

    .dropcategories a.cat {
        font-size: 16px;
    }

        #shortlogo img {
            display: block;
            left: 12px;
        } 

        #header {
            padding-top: 20px;
        }

        .news-block .block.full .details {
            top: 60px;
            left: 30px;
            width: 90%;
        }
        .news-block .block {
            height: 370px;
        }
        #footer li a.header {
            font-size: 20px;
        }

        .step-gallery .cols:nth-child(2n+0) {
            margin-top: 60px;
        }

        .artist-month .details {
            margin-top: 0;
        }

        .subheading {
            font-size: 20px;
        }

        .header-line-bot {
            font-size: 40px !important;
        }
        .step-gallery .title {
            font-size: 26px;
        }
        #main-featured-art .title {
            font-size: 62px;
            line-height: 82px;
        }
        #main-featured-art .content {
            left: 120px;
            top: 95px;
        }
        #featured-nav {
            height: 55px !important;
            width: 70%;
            top: -20px !important;
            left: 15%;
            background-position: 14px center;
            background-image: url(../img/mobile-menu-icon.png);
            background-size: 27px;
        }
        #featured-nav .arrow {
            right: 0;
            background-image: url(../img/arrow-down.png);
            background-size: 15px;
            width: 55px;
        }

        #featured-menu {
            width: 100%;
            height: 0;
            top: 0;
        }

        #featured-menu.active {
            height: auto;
            padding-top: 50px !important;
            padding-bottom: 50px !important;
        }

        #featured-menu ul {
            padding: 0;
        }
        #featured-menu li a.header {
            font-size: 18px;
        }

        #main-nav {
            display: none;
        }

        #header .container {
            padding-top: 0px;
            padding-bottom: 30px;
        }

        .box-list li  {
            width: 25%;
            height: 30px;
        }

        .box-list li  a {
            height: 40px;
            line-height: 40px;
        }

        .artmodal .contact {
            margin-top: 30px;
        }

        .artmodal .details .title {
            font-size: 32px;
            margin-bottom: 30px;
        }

        .artmodal .details {
            font-size: 15px;
        }

        .artmodal .contact {
            margin-top: 30px;
            font-size: 14px;
            background-size: 20px auto;
            width: 100%;
        }
        .artmodal .details {
            padding-left: 25px;
            font-size: 16px;
        }

    #featured-menu .cols ul {
        padding-left: 20px;
    }

    #featured-nav-logo {
        margin-top: 0;
    }
    
    #featured-menu .cols .icons {
        text-align: center;
    }
    
    #featured-nav-logo {
        margin-top: 0;
    }
    
    #featured-menu .socials {
        width: 100%;
        display: inline-block;
        text-align: center;
        padding: 0 20%;
    }

    #featured-menu.active .cols {
        display: none;
    }

    #featured-menu.active .mobile {
        display: block;
        text-align: center;
    }

    #featured-menu.active .mobile ul {
        padding: 0;
        margin: 0;
    }

    #featured-menu.active .mobile a {
        font-size: 20px;
    }

    #featured-slide .title {
        font-size: 32px;
        line-height: 42px;
    }

    .slick-dots {
        top: auto;
        right: auto;
        bottom: 10px;
        left: 25%;
        width: 50%;
        text-align: center;
    }

    .slick-dots li {
        float: none;
        display: inline-block;
    }

    #main-featured-art .cta {
        right: 30%;
        width: 40%;
    }

    #featured-slide .title, #featured-slide .details {
        text-align: center;
    }
}

@media only screen and (max-width: 767px) {

    #searchForm {
        float: right;
        width: auto;
        display: none;
    }
    #langHolder {
        width: 10%;
        display: none;
    }
    #searchField,  #searchBt {
        border-bottom: 0;
    }
    #searchBt {
        float: right;
        width: 40px;
        background-size: 30px;
    }
    #searchField {
        width: 0;
        padding: 0;
    }
    #featured-menu li a {
        display: none;
    }
    #featured-menu li a.header {
        display: block;
    }
    #featured-menu ul {
        margin-top: 0;
    }
    #featured-menu.active {
        padding: 30px;
    }
    
    .box-list li  {
        width: 50%;
        height: 40px;
    }
    
    .box-list li  a {
        height: 40px;
        line-height: 40px;
    }
    
    .box-list li:nth-child(2n+0)  a {
        float: right !important;
    }
    
    #footer {
        text-align: center;
    }
    
    #socialbox {
        margin-bottom: 30px;
    }
    
    #socialbox strong {
        display: block;
    }
    
    #socialbox .socials {
        margin-top: 20px;
        display: inline-block;
        width: 300px;
    }
    .socials.gray a {
        text-align: center;
    }
        
    #footer ul {
        padding-left: 0;
    }
    
    .news-block .block {
        height: auto;
    }
    
    .news-block .block .title {
        width: 100%;
    }
    
    .news-block .block .cta {
        margin-left: 0;
        left: auto;
        display: inline-block;
        width: auto;
        padding: 8px 20px;
        top: auto;
        bottom: auto;
    }

    #main-featured-art .title {
        font-size: 22px;
        line-height: 30px;
        padding: 0 60px;
    }

    #main-featured-art .content {
        width: 100%;
        text-align: center;
        max-width: 100%;
        left: 0;
    }
    
    .news-block .block.rect.black .title {
        width: auto;
    }
    
    
    .artmodal .primary {
        width: 100%;
    }
    
    .artmodal button.close {
        right: -5px;
        top: -24px;
        z-index: 1;
        overflow: hidden;
        opacity: 1;
    }
    .artmodal .close span {
        color: #fff;
        background-color: #212b8f;
        overflow: hidden;
        opacity: 1;
    }
    .artmodal .details {
        padding-left: 0;
    }
    .artmodal .contact {
        margin-bottom: 30px;
    }
    
    #featured-menu ul {
        margin-bottom: 10px;
    }
    
    #featured-menu.active .cols .icons {
        margin-top: 40px;
    }

    .pagntin .text-right, .pagntin .text-left, .paginations {
        text-align: center !important;
        margin-top: 15px;
    }

    .pagntin .text-left span, .paginations .page-bt, .paginations form {
        display: inline;
        float: none;
    }

    .paginations form {
        float: none;
    }


    #main-featured-art {
        background-size: auto 100% !important;
    }

    .slick-prev {
        left: 0;
    }

    .slick-next {
        right: 0;
    }
}


@media only screen and (max-width: 576px) {
    .step-gallery .cols{
        margin-top: 20px;
    }
    .step-gallery .cols:nth-child(2n+0) {
        margin-top: 20px;
    }
}
@media only screen and (max-width: 500px) {

    .box-list li a {
        width: 100%;
    }

    #main-featured-art .cta {
        right: 10%;
        width: 80%;
    }
}
