.calendarList .cols {
    position: relative;
}

.calendarList .cols h5, .calendarList .cols p, .calendarList .cols a  {
    position: absolute;
    top: 50%;
}

.calendarList .cols a  {
    position: absolute;
    top: 45%;
}

.calendarList .cols h5  {
    color: #555555;
    font-size: 18px;
}

.calendarList .cols p  {
    color: #0b1684;
    font-size: 16px;
}

.redLineBt {
    color: #c42f66;
    border: 2px solid #c42f66;
    padding: 8px 20px;
    min-width: 120px;
    text-align: center;
    border-radius: 30px;
    font-size: 14px;
    text-decoration: none !important;
    font-weight: bold;
}

.redLineBt:hover {
    color: #fff;
    background-color: #c42f66;
}

#eventfilter {
    border: 0;
    border-bottom: 1px solid #c42f66;
    color: #c42f66;
    width: 100%;
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px;
    outline: 0 !important;
}

@media only screen and (max-width: 767px) {
    .calendarList .cols {
        text-align: center;
    }

    .calendarList .cols h5, .calendarList .cols p, .calendarList .cols a  {
        position: relative;
        top: 0 !important;
    }
    
    .calendarList .cols h5 {
        margin-top: 20px !important;
    }
    
    .calendarList .cols p {
        margin-top: 10px !important;
        margin-bottom: 15px !important;
    }
    
    .calendarList .cols a {
        display: inline;
    }
}
