.catalog .left-line {
    width: 10%;
    float: left;
    height: 2px;
    background-color: #000;
    display: block;
    margin-top: 25px;
}

.catalog .details {
    width: 90%;
    float: left;
    padding-left: 20px;
}

.catalog .title {
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
    color: #0c1784;
}

.catalog .sub {
    font-size: 12px;
    color: #ccc;
    font-weight: bold;
}

.catalog .sub.sale {
    color: #d40061;
}

.dropcategories {
    padding: 0;
    float: left;
    width: 100%;
}

.dropcategories a {
    color: #000000;
}

.dropcategories li {
    list-style: none;
    border-bottom: 1px solid #ccc;
    position: relative;
}

.dropcategories li a {
    padding: 10px 15px;
    display: block;
    width: 100%;
    font-weight: bold;
}

.dropcategories ul  {
    background-color: #0b1684;
    padding: 0 18px;
    height: 0;
    overflow: hidden;
    display: block;
    transition: height 300ms linear;
}
.dropcategories ul.active {
    height: auto;
}

.dropcategories ul  a {
    color: #fff;
    padding: 5px 0;
    font-size: 14px;
}

.dropcategories ul a.active, .dropcategories ul a:hover {
    color: #f876b1;
}

.dropcategories ul li:first-child {
    padding-top: 15px;
}
.dropcategories ul li:last-child {
    padding-bottom: 15px;
}

.dropcategories ul li {
    padding: 0;
    list-style: none;
    border-bottom: 0;
    position: relative;
}

.dropcategories ul.active {
   background-image: url(../../img/triangle-down.png);
    background-position: 20px top;
    background-repeat: no-repeat;
    background-size: 18px;
}

.dropcategories a.cat {
    /*background-image: url(../../img/icon-plus.png);*/
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 17px auto;
    padding-right: 40px;
}

.dropcategories .cat:hover, .dropcategories .cat.active  {
    color: #d40061;
    text-decoration: none;
}

.dropcategories a.cat.hasChild {
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 17px auto;
}

.dropcategories .expand {
    background-image: url(../../img/icon-plus.png);
    display: block;
    position: absolute;
    width: 44px;
    height: 44px;
    right: 0;
    top: 0;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    cursor: pointer;
}

.dropcategories .expand.active {
    background-image: url(../../img/icon-minus.png);
}


.dropcategories .cat.hasChild.active {
    /*background-image: url(../../img/icon-minus.png);*/
}

.page-bt {
    background-color: transparent;
    border: 1px solid #0b1684;
    color: #0b1684;
    margin: 0 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    float: left;
    display: block;
}

.pagination input {
    float: left;
    display: block;
}

.page-bt.active {
    border: 1px solid #ccc;
    color: #ccc;
}

.page-bt:hover {
    border: 1px solid #d40061;
    color: #d40061;
}

#filterBt {
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
    height: 45px;
    line-height: 45px;
    padding: 0 15px;
    background-color: #0b1684;
    text-align: center;
    color: #fff !important;
    text-decoration: none !important;
    font-size: 12px;
    text-transform: uppercase;
    display: inline-block;
    width: 100%;
    border: 0;
}

.taglist {
    padding: 0;
    float: left;
    width: 100%;
}

.taglist a {
    color: #000000;
}

.taglist > li {
    list-style: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
}

.taglist li a {
    padding: 10px 10px;
    display: block;
    font-weight: bold;
}

.taglist ul  {  
    padding: 0 10px;
    height: 0;
    overflow: hidden;
    transition: height .3s;
    display: block;
    width: 100%;
}

.taglist ul.active {
    height: auto;
}

.taglist ul a {
    padding: 5px 0;
    font-size: 14px;
}

.taglist ul li {
    padding: 0;
    list-style: none;
    border-bottom: 0;
    float: left;
}

.taglist ul.active {
    background-position: 20px top;
    background-repeat: no-repeat;
    background-size: 18px;
}

.taglist a.cat {
    background-image: url(../../img/icon-plus.png);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 17px auto;
    border-bottom: 1px solid #3742a0;
}

.taglist .tag {
    background-color:  #f2f3f5;
    color: #0b1684;
    border-radius: 20px;
    margin: 10px 5px 10px 0;
    padding: 5px 10px;
    text-decoration: none;
}

.taglist input[type="checkbox"] {
    display: none;
}

.taglist .tag.active {
    background-color:  #c42f66;
    color: #fff;
    border-radius: 20px;
    padding: 5px 10px;
    text-decoration: none;
    background-image: url(../../img/icon-tag-remove.png);
    background-position: 88% center;
    background-repeat: no-repeat;
    padding-right: 30px;
}

.taglist .cat:hover, .taglist .cat.active  {
    color: #0b1684;
    text-decoration: none;
}

.taglist .cat.active {
    background-image: url(../../img/icon-minus.png);
}

ul.colors {
    list-style: none;
    padding: 0;
}

ul.colors li, .colors ul {
    list-style: none;
    padding: 0;
}

ul.colors li {
    float: left;
}

.colors ul {
}

.colors ul li {
    margin: 5px;
}

ul .color {
    margin: 3px 4px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: red;
    display: block;
    float: left;
    opacity: 1;
}

ul .color.active {
    box-shadow: 0 0 0 5px rgba(0,0,0,1);
}
