.news .block {
    position: relative;
    margin-bottom: 30px;
}

.news .type {
    background-color: #c42f66;
    padding: 5px 15px;
    border-radius: 20px;
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    font-size: 11px;
    top: 12px;
    left: 12px;
}

.news .title {
    color: #0b1684;
    font-size: 24px;
}

.news .date {
    color: #000000;
    font-size: 12px;
}

.news img {
    margin-bottom: 25px;
}

.news .details {
    color: #000000;
    font-size: 16px;
}

.news .cta {
    color: #0b1684;
    font-size: 16px;
    display: inline-block;
    padding-right: 30px;
    height: 20px;
    line-height: 20px;
    background-image: url('../../img/news/cta-arrow.png');
    background-position: right center;
    background-repeat: no-repeat;
    text-transform: uppercase;
    font-weight: bold;
    }

.news .line {
    background-color: #0b1684;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 2px;
}

#subscribeForm input[type="email"] {
    border: 0;
    border-bottom: 1px solid #c42f66;
    color: #c42f66;
    width: 100%;
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px;
}

#subscribeForm input[type="submit"] {
    border: 1px solid #0b1684;
    color: #0b1684;
    display: block;
    float: right;
    padding: 8px 125px 8px 25px;
    text-align: left;
    background-color: transparent;
    border-radius: 30px;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    background-image: url(../../img/community/submit-arrow.png);
    background-repeat: no-repeat;
    background-position: 90% center;
    background-size: 25px auto;
    outline: 0 !important;
}



@media only screen and (max-width: 767px) {
    .news .block {
        padding-bottom: 30px;
    }

}