.contact input[type="text"] {
    border: 0;
    border-bottom: 1px solid #c42f66;
    color: #c42f66;
    width: 100%;
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px;
    outline: 0 !important;
}

.contact select {
    border: 0;
    border-bottom: 1px solid #c42f66;
    color: #c42f66;
    width: 100%;
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px;
    outline: 0 !important;
}

.contact textarea {
    border: 0;
    border-bottom: 1px solid #c42f66;
    color: #c42f66;
    width: 100%;
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px;
    height: 150px;
    outline: 0 !important;
}

.contact input[type="submit"] {
    border: 1px solid #0b1684;
    color: #0b1684;
    display: block;
    float: right;
    padding: 8px 125px 8px 25px;
    text-align: left;
    background-color: transparent;
    border-radius: 30px;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    background-image: url(../../img/community/submit-arrow.png);
    background-repeat: no-repeat;
    background-position: 90% center;
    background-size: 25px auto;
    outline: 0 !important;
}
