.swiper-slide img {
    margin-bottom: 15px;
    height: 100%;
    max-width: 400px;
    border: 5px solid #000;
    box-shadow: 7px 7px 20px rgba(0,0,0,.5);
}

.swiper-container {
    cursor: move;
}

#instructions {
    cursor: move;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 100;
}

#instructions .message {
    color: #fff;
    font-weight: bold;
    text-align: center;
    width: 300px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -100px;
    font-size: 24px;
}

#back {
    position: fixed;
    top: 30px;
    right: 30px;
    font-size: 16px;
    z-index: 11;
    color: #c42f66;
}

.swiper-slide .imgwrap {
    margin-left: 20%;
    position: relative;
    margin-top: -10%;
}

.short-details {
    position: absolute;
    top: 99%;
    right: 0;
    text-align: left;
    width: 100%;
    padding-left: 10%;
    background-image: url('../../img/exhibition/hotspot.png');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 30px auto;
    min-width: 30px;
    min-height: 50px;
}

.short-details .title {
    font-weight: bold;
    font-size: 20px;
    color: #c42f66;
    width: 100%;
    padding-left: 15px;
    display: none;
}

.short-details .subs {
    font-size: 10px;
    color: #0b1684;
    width: 100%;
    padding-left: 15px;
    display: none;
}

.imgwrap:hover .title, .imgwrap:hover .subs {
    display: block;
}

#nav {
    position: absolute;
    height: 85vh;
    width: 300px;
    top: 30px;
    left: 70px;
    padding: 30px 0;
    border-left: 3px dotted #c42f66;
    color: #0b1684;
    z-index: 1;
    background-color: rgba(255,255,255,.95);
    box-shadow: 10px 10px 30px rgba(0,0,0,0.2);
}

#nav h1 {
    color: #c42f66;
    margin-top: 0;
    font-weight: bold;
    font-size: 50px;
    padding: 0 30px;
}
#nav p {
    padding: 0 30px;
}

#nav ul {
    padding: 0;
    list-style: none;
}

#nav ul.hidden {
    display: none;
}

#nav ul li {
    margin: 20px 0;
    float: left;
    position: relative;
    width: 100%;
    padding-right: 20px;
}

#nav ul li a {
    color: #0b1684;
    text-decoration: none;
    -webkit-transition: color 1s, font-size 1s;
    -moz-transition: color 1s, font-size 1s;
    -o-transition: color 1s, font-size 1s;
    transition: color 1s, font-size 1s;
    margin-left: 53px;
    float: left;
}

#nav ul li .dot {
    position: absolute;
    color: #c42f66;
}

#nav ul li .dot span {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #c42f66;
    display: inline-block;
    margin-left: 5px;
}

#nav ul li a:hover {
    color: #c42f66;
}

#nav ul li a.active {
    color: #c42f66;
}

#nav-icon {
    position: absolute;
    bottom: -38px;
    left: -21px;
}
#scroller {
    max-height: 55vh;
    overflow-y: auto;
    overflow-x: visible;
    margin-left: -23px;
}

@-webkit-keyframes heartbeat{from{-webkit-transform:scale(1.5);transform:scale(1.5);-webkit-transform-origin:center center;transform-origin:center center;-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}10%{-webkit-transform:scale(.91);transform:scale(.91);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}17%{-webkit-transform:scale(.98);transform:scale(.98);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}33%{-webkit-transform:scale(.87);transform:scale(.87);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}45%{-webkit-transform:scale(1.5);transform:scale(1.5);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}@keyframes heartbeat{from{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:center center;transform-origin:center center;-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}10%{-webkit-transform:scale(.91);transform:scale(.91);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}17%{-webkit-transform:scale(.98);transform:scale(.98);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}33%{-webkit-transform:scale(.87);transform:scale(.87);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}45%{-webkit-transform:scale(1.5);transform:scale(1.5);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}

#mobileMenu {
    width: 60px;
    height: 60px;
    display: block;
    background-color: orange;
    position: absolute;
    bottom: -30px;
    border-radius: 50%;
    background-image: url(../../img/mobile-menu-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px auto;
    display: none;
}


@media only screen and (min-width: 1600px) {

    .imgwrap {
        margin-left: 10% !important;
    }
}

@media only screen and (max-width: 991px) {

    .imgwrap {
        margin-right: 30px;
        margin-left: 30px !important;
    }

    #nav {
        display: none;
    }

    .short-details .title, .short-details .subs {
        display: block;
    }

    .swiper-slide .imgwrap {
    }
}

