#home-categories {
    position: relative;
    z-index: 2;
}

.box-list li {
    position: relative;
}

.box-list li ul {
    position: absolute;
    width: 100%;
    background-color: #0b1684;
    top: 99%;
    display: none;
    z-index: 1;
    padding: 10px;
}

.box-list li:hover ul {
    display: block;
}

.box-list li ul li {
    float: left;
    width: 100%;
    height: auto;
    line-height: 15px;
    list-style: none;
    margin: 12px 0;
    font-weight: 300;
    z-index: 1000;
    position: relative;
}
.box-list li ul li a {
    float: left;
    color: #fff;
    font-size: 15px;
    text-align: left;
}
.box-list li ul li a:hover {
    color: #ff7bac;
}


@media only screen and (max-width: 1200px) {
    .box-list li {
        width: 25%;
        font-size: 22px;
    }
}

@media only screen and (max-width: 991px) {
    .box-list li {
        width: 50%;
        font-size: 22px;
    }
}

@media only screen and (max-width: 600px) {
    .box-list li {
        width: 50%;
        font-size: 20px;
    }
}

@media only screen and (max-width: 500px) {
    .box-list li {
        width: 100%;
        font-size: 16px;
    }
}
