@font-face {
    font-family: 'FSAlbert';
    src: url('FSAlbert-ThinItalic.woff2') format('woff2'),
        url('FSAlbert-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FSAlbert';
    src: url('FSAlbert-Thin.woff2') format('woff2'),
        url('FSAlbert-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FSAlbert';
    src: url('FSAlbert-Bold.woff2') format('woff2'),
        url('FSAlbert-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FSAlbert';
    src: url('FSAlbert-Italic.woff2') format('woff2'),
        url('FSAlbert-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FSAlbert';
    src: url('FSAlbert-ExtraBold.woff2') format('woff2'),
        url('FSAlbert-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FSAlbert';
    src: url('FSAlbert-LightItalic.woff2') format('woff2'),
        url('FSAlbert-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FSAlbert';
    src: url('FSAlbert-Light.woff2') format('woff2'),
        url('FSAlbert-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FSAlbert';
    src: url('FSAlbert-Regular.woff2') format('woff2'),
        url('FSAlbert-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

